/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* END Reset Css*/

body {
  color: #666;
}

.wrapper {
  max-width: 1400px;
  margin:0 auto;
  padding: 0 ;
}

/* .contents { 
  margin: 0 15%;
}*/

/* header */

.h-image {
  object-fit: cover;
  width: 100%;
  max-height: 600px;
}

header {
  margin-bottom: 200px;
}



/* about */
section {
  margin-bottom: 300px;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.a-contents {
  width: 100%;
}

.a-left {
  text-align: center;
}

.a-left-img {
  border-radius: 50%;
  width: 150px;
}

.a-right {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

dl {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

dt {
	width: 30%;
  text-align: left;
}

dd {
  width: 70%;
  text-align: left;
}

/* skill */
.skill {
  text-align: center;
}

h3 {
  font-size: 30px;
}

/* works */

.w-card {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-decoration: none;
  color: inherit;
}

.w-card:hover {
  color: inherit;
}

.card {
  width: 100%;
  margin-bottom: 20px;
  transition: .3s;
  opacity: 1;
}

.card:hover {
  opacity: 0.7;
}

h4 {
  color: inherit;
  text-align: center;
}

/* contact */

.btn-wrapper {
  align-items: center;
}

.pw {
  width: 50%;
}



/* footer  */
footer {
  height: 40px;
  background-color: #F8F9FA;
}

footer p {
  display: block;
  text-align: center;
  padding-top: 10px;
  color: #666;
  font-size: 15px;
  line-height: 20px;
}

@media(max-width:768px) {
  .a-left {
    margin-bottom: 50px;
  }

  .a-contents {
    margin: 0 ;
  }

  .contents {
    padding: 0 20px;
  }

  .w-cards {
    margin-bottom: 50px;
  }

  .pw {
    width: 80%;
  }

  section {
    margin-bottom: 100px;
  }
}
